@import './vars';

.base-button {
	font-family: sans-serif;
	font-size: 1rem;
	text-transform: lowercase;
	padding: 0.2em 0;
	color: $neutral-lightest;
	background-color: $secondary-darkest;
	border: 0;
	border-radius: 999px;
	cursor: pointer;
}
