@import '../../sass/vars';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Background-container {
	min-height: 100vh;
	background-image: repeating-linear-gradient(
		-45deg,
		$primary-dark 0px,
		$primary-dark 100px,
		$primary-darker 100px,
		$primary-darker 200px
	);
	display: grid;
	grid-template-rows: 1fr auto 3fr;
	grid-template-areas:
		'a'
		'b'
		'c';
	place-items: center;
	padding: 0 5px;
	@media (min-width: 1024px) {
		grid-template-rows: 1fr 2fr 2fr;
	}
}
