@import '../../sass/vars';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App-container {
	min-height: 100vh;
	background-image: repeating-linear-gradient(
		-45deg,
		$primary-dark 0px,
		$primary-dark 100px,
		$primary-darker 100px,
		$primary-darker 200px
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 5px;
}
